.reveal section img {
    border: 0;
    box-shadow: none;
    margin-top: -45px;
}

.reveal section h1 {
    font-size: 3em;
}

.reveal section h2 {
    font-size: 2.5em;
}

.reveal section h3 {
    font-size: 2em;
}

.reveal section h4 {
    font-size: 2em;
    text-align: right;
}
.reveal section .primary-title {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    font-size: 3em;
    overflow: visible;
    color: white;
    left: 0;
    right: 0;
}

.reveal section .qr_code {
    
}